{% extends 'kinpri_box_office/base.html' %}
{% load staticfiles %}
{% block head %}
<script type="text/javascript">
 google.charts.load('current', {'packages':['corechart']});
 google.charts.setOnLoadCallback(drawChart);
 
 function drawChart() {
     // daily chart
     var jsonData = $.ajax({
         url: "api/v1/mimorin/daily.json",
         dataType: "json",
         async: false
     }).responseText;
     var data = new google.visualization.arrayToDataTable(JSON.parse(jsonData));
     var chart = new google.visualization.ComboChart(document.getElementById('daily'));
     var options = {
         series: [
             {targetAxisIndex: 0, type: 'bars'},
             {targetAxisIndex: 1, type: 'line'},
         ],
         colors: ['lightblue', 'gold'],
         pointSize: 20,
         pointShape: 'star',
         vAxes: [
             {title: '販売座席数'},
             {
                 title: '上映回数',
                 viewWindow: {
                     min: 0,
                 },
             },
         ],
     }
     chart.draw(data, options);

     // weekly chart
     var jsonData = $.ajax({
         url: "api/v1/mimorin/weekly.json",
         dataType: "json",
         async: false
     }).responseText;
     var data = new google.visualization.arrayToDataTable(JSON.parse(jsonData));
     var chart = new google.visualization.ColumnChart(document.getElementById('weekly'));
     var options = {
         series: [
             {targetAxisIndex: 0, type: 'bars'},
             {targetAxisIndex: 1, type: 'line'},
         ],
         colors: ['lightblue', 'gold'],
         pointSize: 20,
         pointShape: 'star',
         vAxes: [
             {title: '販売座席数'},
             {
                 title: '上映回数',
                 viewWindow: {
                     max: 2000,
                     min: 0,
                 },
             },
         ],
     }
     chart.draw(data, options);

     // korea daily chart
     var jsonData = $.ajax({
         url: "api/v1/korea/daily.json",
         dataType: "json",
         async: false
     }).responseText;
     var data = new google.visualization.arrayToDataTable(JSON.parse(jsonData));
     var chart = new google.visualization.ComboChart(document.getElementById('korea'));
     var options = {
         series: [
             {targetAxisIndex: 0, type: 'bars'},
             {targetAxisIndex: 1, type: 'bars'},
         ],
         colors: ['lightblue', 'gold'],
         pointSize: 20,
         pointShape: 'star',
         vAxes: [
             {title: '販売座席数'},
             {
                 title: '興行収入 (ウォン)',
                 viewWindow: {
                     min: 0,
                 },
             },
         ],
     }
     chart.draw(data, options);
 }
 
</script>
{% endblock %}
{% block body %}
<div class="container">
    <h1>📈 キンプラ 座席販売数グラフ 📊</h1>

    <!-- イントロ -->
    <p>
        『KING OF PRISM -PRIDE the HERO-』の座席販売数と上映回数をグラフにしたページです。TOHOシネマズ、109、KINEZO、MOVIX、ユナイテッドシネマの販売数を基にしています。約80%の映画館 (44/56館) をカバーしています。
    </p>
    <p>
        「『プリティーリズム・レディースパーキング！』を見たかったら金を払え！100億！！」
        <a href="#1"><sup>*1</sup></a> 
    </p>
    <p>
        何かあれば、<a href="https://twitter.com/skrmch_rhythpri"><i class="fa fa-twitter"></i>さくらもち (@skrmch_rhythpri)</a> までお知らせください。
    </p>
    <p>
        2017/06/21: グラフのスクリーンショットをツイートする Twitter の bot を作りました。<a href="https://twitter.com/knpr_box_office"><i class="fa fa-twitter"></i>キンプラ座席販売数お知らせbot (@knpr_box_office)</a>
    </p>

    <!-- ツイートボタン -->
    <div class="tweet-btn">
        <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-hashtags="prettyrhythm,kinpri">このページをツイートする</a>
    </div>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <!-- 菱田監督のツイート -->
    <div class="row">
        <div class="col-xs-6">
            <blockquote class="twitter-tweet" data-partner="tweetdeck"><p lang="ja" dir="ltr">皆様のおかげでキンプリ劇場版新作を無事公開することができました。プリリズを見るのは今作を見た後、興味があったらで良いと思います。まずは現在公開中の新作を観てください。今は上映回数が多いですが、今後あっという間に減っていきますのでお近くの新人さんを連れて劇場へ！ <a href="https://twitter.com/hashtag/kinpri?src=hash">#kinpri</a></p>&mdash; 青葉 譲 (@aobajo) <a href="https://twitter.com/aobajo/status/874080148491976705">June 12, 2017</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-xs-6">
            <blockquote class="twitter-tweet" data-partner="tweetdeck"><p lang="ja" dir="ltr">プリリズを本気で続けさせたいと思っていてキンプリ、キンプラを見ていない人、明日、迷わずKING OF PRISM PRIDE the HEROを見に行ってくれ。手遅れになってからじゃ遅いんだぞ。 <a href="https://twitter.com/hashtag/kinpri?src=hash">#kinpri</a></p>&mdash; 青葉 譲 (@aobajo) <a href="https://twitter.com/aobajo/status/873548492597207040">June 10, 2017</a></blockquote>
        </div>
    </div>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <!-- グラフ -->
    <h3>キンプラの1日ごとの販売座席数と上映回数</h3>
    <div id="daily" class="chart"></div>
    <h3>キンプラの週ごとの販売座席数と上映回数</h3>
    <div id="weekly" class="chart"></div>
    <h3>キンプラの韓国での1日ごとの販売座席数と興行収入</h3>
    <p>10,000ウォン = 約1,000円なので、10で割ると大まかな興行収入がわかります。
        たとえば、初日は約700万円です。
    <div id="korea" class="chart"></div>

    <!-- フッタ -->
    <footer>
        <hr>
        <p>
            <a name="1"></a>
            *1 キンプラの法月仁さんの台詞のパロディです。
        </p>
        
        <p>
            データのソース:
            <ul>
                <li>日本:
                    <a href="http://mimorin2014.blog.fc2.com/">
                        興行収入を見守りたい！
                    </a> さんのデータ
                </li>
                <li>韓国:
                    <a href="https://namu.wiki/w/KING%20OF%20PRISM%20PRIDE%20the%20HERO">
                        韓国映画振興委員会のデータをまとめたキンプラWiki
                    </a>
                </li>
            </ul>
        </p>
        <p>
            上のグラフのデータを取得する API のエンドポイント:
            <ul>
                <li>1日ごと:
                    <a href="api/v1/mimorin/daily.json">
                        https://skrm.ch/prettyrhythm/kinpri-box-office/api/v1/mimorin/daily.json
                    </a>
                </li>
                <li>週別:
                    <a href="api/v1/mimorin/weekly.json">
                        https://skrm.ch/prettyrhythm/kinpri-box-office/api/v1/mimorin/weekly.json
                    </a>
                </li>
                <li>韓国の1日ごと:
                    <a href="api/v1/korea/daily.json">
                        https://skrm.ch/prettyrhythm/kinpri-box-office/api/v1/korea/daily.json
                    </a>
                </li>
            </ul>
        </p>
        <p>
            このサービスのソースコードは
            <i class="fa fa-github"></i>
            GitHubで公開しています。
            <a href="https://github.com/sakuramochi0/kinpri-box-office">
                scraper
            </a>
            /
            <a href="https://github.com/sakuramochi0/kinpri-box-office-website">
                website
            </a>
            /
            <a href="https://github.com/sakuramochi0/twitter-kinpri-box-office">
                twitter bot
            </a>
        </p>
        
        <p>作者:
            <a href="https://twitter.com/skrmch_rhythpri">
                <i class="fa fa-twitter"></i>
                さくらもち (@skrmch_rhythpri)
            </a>
        </p>
    </footer>
</div>
{% endblock %}
